<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">News Block</lang>
	</name>
	<author><lang name="default">nyuk</lang></author>
	<homepage>http://hype.retroscene.org</homepage>
	<version>1.0.0</version>
	<requires>
		<livestreet>1.0.3</livestreet>
		<plugins></plugins>
	</requires>
	<description>
		<lang name="default">Show blog topics as news block in sidebar.</lang>
		<lang name="russian">Отображает топики заданного блога в виде новостной ленты.</lang>
	</description>
</plugin>
